<h1>Hello Angular {{title}}</h1>


<div>
  <h2>{{getData()}}</h2>
</div>

<div>
  <h2>2+2={{2+2}}</h2>
</div>

<span class={{title}}> Dynamic class works</span>



<div>
  <h1>Won't work</h1>
  <ol>
    <li>Assignment</li>
    <li>typeof</li>
    <li>increment</li>
    <li>decrement</li>
  </ol>
  <h2>
    <!-- {{a=2}} -->
    <!-- {{typeof data}} -->
    <!-- {{idd++} -->
    <!-- {{id--}} -->

  </h2>
</div>

<app-user-list></app-user-list>
<app-student-list></app-student-list>

<app-login></app-login>

<!-- ----------------------------EVENTS------------------------------------------ -->

<br/>
<br/>
<h1>---------EVENTS------------------</h1>
<br/>
<br/>


<button (click)="getData()" >Call Func</button>
<br/>
<br/>
<input (keyup)="getUserData($event)" />


<br/>
<br/>
<input placeholder="Key Up" #keyUpId (keyup)="onKeyUp(keyUpId.value.toString())" />


<br/>
<br/>
<input placeholder="Key Down" #keyDownId (keydown)="onKeyDown(keyDownId.value.toString())" />
